.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# local .env files
.env.local
.env.*.local

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/android
/src-capacitor/ios

# BEX related directories and files
/src-bex/www
/src-bex/

.firebase/
firebase-debug.log
firebase-debug.*.log


serviceAccount.json

graphify-out*